<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2025 DeepGuard AI | <i class="fas fa-shield-alt"></i> Protect Against Deepfakes</p>
                <div class="social-icons mt-2">
                    <a href="#" class="text-white mx-2"><i class="fab fa-github"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>